
$border-radius: 0;

@import '~font-awesome/css/font-awesome.min.css';
@import '~bootstrap/scss/bootstrap.scss';

.btn-group.btn-group-block {
  display: flex;

  .btn {
    flex: 1;
  }
}


html, body {
  margin-top: 1rem;
  background-color: #edf2f9;
  color: #5e6e82;
}

h1 {
  padding-bottom: 0.5rem;
}